ion-content {
  --background: #2c2c2c;

  #content {
    padding: 40px;
    background-color: #2c2c2c;
    .topo {

      div.header {
        display: flex;
        justify-content: space-between;


        h1 {
          color: #E8E8E8;
          align-self: flex-end;
          font-family: 'K2D', sans-serif;
        }
        mat-label{
          font-family: 'K2D', sans-serif;
        }
      }

      hr {
        height: 3px;
        border: none;
        background-color: #E8E8E8;
      }

      ion-label {
        color: white;
        font-family: 'K2D', sans-serif;
      }
    }

    ion-label{
      font-family: 'K2D', sans-serif;

    }
  }
}


@media (max-width: 800px) {
  #content {
    padding: 40px;

    .topo {

      .header {

        mat-form-field {
          width: 150px;

        }
      }

      div {
        display: flex;
        justify-content: space-between;

        h1 {
          color: #E8E8E8;
          font-family: 'K2D', sans-serif;
        }
      }

      hr {
        height: 3px;
        border: none;
        background-color: #E8E8E8;
      }

      ion-label {
        color: white;
      }
    }

    .texto {
      margin-top: 50px;

      ion-card {
        margin-bottom: 30px;
        background: #3C3C3C;

        ion-card-header {

          ion-card-title {
            color: white;

            span {
              width: 300px;
            }
          }
        }

        ion-card-content {

          ion-card-content {
            color: white;
          }
        }

      }
    }
  }

}
