ion-content {
  --background: transparent;

  .teste {
    padding: 40px;

    .body {

      .header {

        h1 {
          color: white;
        }
      }

      hr {
        height: 3px;
        border: none;
        background-color: white;
      }
    }


    #content {
      margin-top: 60px;

      .avaliacao {
        padding: 20px;

        h1 {
          color: white;
          text-align: center;
        }

        h2 {
          color: white;
          text-align: center;
        }
      }

      .respostas {

        h1 {
          text-align: center;
          color: white;
        }

        hr {
          height: 3px;
          border: none;
          background-color: white;
        }

        .respostas2 {

          h3 {
            color: white;
          }
        }
      }
    }
  }

  ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }


}
