<ion-content id="content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="administrador"></ion-back-button>
      </ion-buttons>
      <ion-title>PERGUNTAS</ion-title>
    </ion-toolbar>
  </ion-header>



  <div class="according" *ngIf="liberarPerguntas === true ">
    <ion-accordion-group *ngFor="let res of perguntas; index as i" expand="inset">
      <ion-accordion>
        <ion-item slot="header" color="secondary">
          <ion-label>Questão {{i + 1}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <h3>Pergunta : {{res.enunciation}}</h3>
          <h3>Ordem : {{res.order}}</h3>
          <h3>Criterio : {{res.criterion.name}}</h3>
          <h3 *ngFor="let res2  of res.glossary_refs">Glossario : {{res2.entry}}</h3>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div class="botoes">
    <ion-button *ngIf="liberarPerguntas === false" (click)="mostrarPerguntas()" color="primary" expand="block">
      Vizualizar critérios cadastrados</ion-button>
    <ion-button *ngIf="liberarPerguntas === true " (click)="esconderPerguntas()" color="danger" expand="block">Fechar
    </ion-button>
  </div>

  <div>



  </div>

  <div class="container">
    <h1>Perguntas</h1>

    <mat-form-field appearance="fill">
      <mat-label>Ordem da pergunta</mat-label>
      <mat-select disableRipple>
        <mat-option *ngFor="let n of ordemPerguntas" value="{{n}}" (click)="pegaOrdem(n)">{{n}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Criterio da pergunta</mat-label>
      <mat-select disableRipple>
        <mat-option *ngFor="let n of criterios" value="{{n}}" (click)="pegaCriterio(n._id)">{{n.name}}</mat-option>
      </mat-select>
    </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Toppings</mat-label>
        <mat-select [formControl]="select" multiple>
          <mat-option *ngFor="let res of palavras" [value]="res">{{res.entry}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="inputCenter">
        <ion-input [(ngModel)]="perguntaNg" (ionChange)="pegaPergunta()" type="text" placeholder="Enunciado da pergunta">
        </ion-input>
      </div>

    <div>
      <ion-button (click)="criarPergunta()" expand="block">Criar Critério </ion-button>
    </div>
    <p></p>
  </div>

</ion-content>
