ion-header {

  ion-toolbar {
    --background: var(--azul);

    ion-title {
      text-align: center;
      color: white;
    }
  }
}

#content {
  --background: var(--cinza-escuro);

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;


    ion-card {
      width: 300px;
      height: 200px;
      --background: #3c3c3c;

      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;

        img {
          width: 100px;
        }
      }

      ion-card-header {

        ion-card-title {
          display: flex;
          font-size: 2em;
          justify-content: center;
          align-self: center;
          color: white;

        }
      }
    }

    ion-card:hover {
      cursor: pointer;
    }
  }

  .logOut {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -200px;

    img {
      width: 80px;
    }

    img:hover {
      cursor: pointer;
    }
  }
}
