#container {
  display: flex;
  height: 100%;
  font-family: var(--font-Principal);

  div#col1 {
    width: 35%;
    height: 100%;
    background-color: var(--azul);
    font-family: var(--font-Principal);
    top: 0;


    .content {
      height: 85%;
      background-color: var(--azul);

      margin-bottom: -20px;

      h1 {
        color: aliceblue;
        text-align: center;
        font-family: var(--font-Principal);
        font-size: 3em;
        margin-bottom: 40px;
        margin-top: 40px;

      }

      #botoes {
        display: flex;
        justify-content: center;


        ion-button {
          width: 42%;
          font-family: var(--font-Principal);
          color: white;

          .active {
            background: #2C2C2C;
            color: black;
          }
        }
      }
    }
  }

  div.col2 {
    width: .9%;
    background-color: #176DB5;
  }

  div.col3 {
    width: .9%;
    background-color: #1161A2;
  }

  div.col4 {
    width: .9%;
    background-color: #03508E;

  }

  div#col5 {
    width: 63.2%;
    height: 100vh;
    background-color: var(--cinza-escuro);
    font-family: var(--font-Principal);

    .logo{
      display: flex;
      justify-content: center;
      margin-top: 50px;
      img{
        width: 50%;
      }
    }
    .texto{
      padding: 80px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h4{
        color: white;
        text-align: center;
      }
    }
    .guia{
      display: flex;
      justify-content: center;
      margin-top: 50px;
      img{
        width: 80%;
      }
    }

  }
}

@media(max-width: 1400px){
  #container {
    display: flex;
    height: 100%;
    font-family: var(--font-Principal);

    div#col1 {
      width: 35%;
      height: 100%;
      background-color: var(--azul);
      font-family: var(--font-Principal);
      top: 0;


      .content {
        height: 85%;
        background-color: var(--azul);

        margin-bottom: -20px;

        h1 {
          color: aliceblue;
          text-align: center;
          font-family: var(--font-Principal);
          font-size: 3em;
          margin-bottom: 40px;
          margin-top: 40px;

        }

        #botoes {
          display: flex;
          justify-content: center;


          ion-button {
            width: 42%;
            font-family: var(--font-Principal);
            color: white;

            .active {
              background: #2C2C2C;
              color: black;
            }
          }
        }
      }
    }

    div.col2 {
      width: .9%;
      background-color: #176DB5;
    }

    div.col3 {
      width: .9%;
      background-color: #1161A2;
    }

    div.col4 {
      width: .9%;
      background-color: #03508E;

    }

    div#col5 {
      width: 63.2%;
      height: 100vh;
      background-color: var(--cinza-escuro);
      font-family: var(--font-Principal);

      .logo{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        img{
          width: 50%;
        }
      }
      .texto{
        padding: 80px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h4{
          color: white;
          text-align: center;
        }
      }
      .guia{
        display: flex;
        justify-content: center;
        margin-top: -20px;
        img{
          width: 80%;
        }
      }

    }
  }

}

@media (max-width: 800px) {

  #container {
    display: block;


    div#col1 {
      width: 100%;
      height: 100%;
      margin-top: -40px;

      .content {
        height: 85%;
        background-color: var(--azul);

        margin-bottom: -20px;

        h1 {
          color: aliceblue;
          text-align: center;
          font-family: var(--font-Principal);
          font-size: 3em;
          margin-bottom: 40px;
          margin-top: 40px;
          padding-top: 40px;

        }

        #botoes {
          display: flex;
          justify-content: center;


          ion-button {
            width: 42%;
            font-family: var(--font-Principal);
            color: white;

            .active {
              background: #2C2C2C;
              color: black;
            }
          }
        }
      }
    }
  }
}
