<div id="container">

  <div id="col1">
    <div class="content">

      <h1>Seja bem vindo</h1>

      <div id="botoes">
        <ion-button routerLink="singIn" routerLinkActive="active" color="primary">Login</ion-button>
        <ion-button routerLink="singUp" routerLinkActive="active" color="primary">Cadastro</ion-button>
      </div>

      <div>
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>

  <div class="col2"></div>
  <div class="col3"></div>
  <div class="col4"></div>

  <div id="col5">
    <div class="logo">
      <img src="../../assets/logo.png" alt="">
    </div>
    <div class="texto">
      <h4>A solução para os profissionais de IHC desenvolverem a identidade visual de seus projetos, foi baseada nos na lista de critérios que foi definida em 1993 por Dominique Scapin e Christian Bastien.</h4>
    </div>
    <div class="guia">
      <img src="../../assets/guia.png" alt="">
    </div>
  </div>
</div>
