.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2C2C2C;
  padding: 40px;

  .topo {

    h1 {
      color: white;
    }

    hr {
      height: 3px;
      background-color: aliceblue;
    }
  }

  .container {
    background-color: #3C3C3C;
    padding: 40px;
    height: 50vh;
    width: 60%;
    border-radius: 20px;
    margin-top: 5%;

    h1 {
      text-align: center;
      color: white;
      font-size: 2em;
      margin-bottom: 30px;
    }

    .inputCenter {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      ion-input {
        width: 100%;
        height: 40px;
        border: none;
        text-align: center;
        background-color: #2C2C2C;
        border-radius: 12px;
        color: white;
        font-size: 1.3em;
      }
    }

    ion-button {
      --background: #3C7141;
      margin-top: 30px;
    }
  }
}

@media (max-width: 1400px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2C2C2C;
    padding: 40px;

    .topo {

      h1 {
        color: white;
      }

      hr {
        height: 3px;
        background-color: aliceblue;
      }
    }

    .container {
      background-color: #3C3C3C;
      padding: 40px;
      height: 60vh;
      width: 80%;
      border-radius: 20px;
      margin-top: 5%;

      h1 {
        text-align: center;
        color: white;
        font-size: 2em;
        margin-bottom: 30px;
      }

      .inputCenter {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        ion-input {
          width: 100%;
          height: 40px;
          border: none;
          text-align: center;
          background-color: #2C2C2C;
          border-radius: 12px;
          color: white;
          font-size: 1.3em;
        }
      }

      ion-button {
        --background: #3C7141;
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2C2C2C;
    padding: 40px;

    .topo {

      h1 {
        color: white;
      }

      hr {
        height: 3px;
        background-color: aliceblue;
      }
    }

    .container {
      background-color: #3C3C3C;
      padding: 40px;
      height: 65vh;
      width: 80%;
      border-radius: 20px;
      margin-top: 5%;

      h1 {
        text-align: center;
        color: white;
        font-size: 2em;
        margin-bottom: 30px;
      }

      .inputCenter {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        ion-input {
          width: 100%;
          height: 40px;
          border: none;
          text-align: center;
          background-color: #2C2C2C;
          border-radius: 12px;
          color: white;
          font-size: 1.3em;
        }
      }

      ion-button {
        --background: #3C7141;
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 800px) {

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2C2C2C;
    padding: 40px;

    .topo {

      h1 {
        color: white;
      }

      hr {
        height: 3px;
        background-color: aliceblue;
      }
    }

    .container {
      background-color: #3C3C3C;
      padding: 40px;
      height: 50vh;
      width: 100%;
      border-radius: 20px;
      margin-top: 5%;

      h1 {
        text-align: center;
        color: white;
        font-size: 2em;
        margin-bottom: 30px;
      }

      .inputCenter {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        ion-input {
          width: 100%;
          height: 40px;
          border: none;
          text-align: center;
          background-color: #2C2C2C;
          border-radius: 12px;
          color: white;
          font-size: 1.3em;
        }
      }

      ion-button {
        --background: #3C7141;
        margin-top: 30px;
      }
    }
  }

}
