<div class="body">

  <div class="topo">
    <h1>Criar Avaliação</h1>
    <hr>
  </div>

  <div class="container">

    <h1> Criar uma nova Avaliação</h1>

    <div class="inputCenter">
      <ion-input (ionChange)="tituloAvaliacao($event)" type="text" placeholder="Titulo da avaliaçao"></ion-input>
    </div>

    <div class="inputCenter">
      <ion-input [(ngModel)]="url" type="text" placeholder="URL do site avaliado"></ion-input>
    </div>

    <div class="inputCenter">
      <ion-input [(ngModel)]="description" type="text" placeholder="Descrição"></ion-input>
    </div>

    <div>
      <ion-button [disabled]="liberaBotao" (click)="criarAvaliacao()" expand="block">Criar Avaliação </ion-button>
    </div>
    <p></p>
  </div>
</div>
